---
permalink: /sitemap-static.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  
  {# MAIN PAGES #}
  
  <url>
    <loc>https://joe.coffee/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  
  <url>
    <loc>https://joe.coffee/for-coffee-shops/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  
  <url>
    <loc>https://joe.coffee/pricing/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>https://joe.coffee/about/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>https://joe.coffee/rewards/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>https://joe.coffee/gift-cards/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>https://joe.coffee/point-of-sale-for-coffee-shops/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>https://joe.coffee/blog/</loc>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>https://joe.coffee/testimonials/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>https://joe.coffee/locations/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>https://joe.coffee/terms/</loc>
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
  </url>
  
  <url>
    <loc>https://joe.coffee/merchant-terms/</loc>
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
  </url>
  
  {# ALL OTHER PAGES #}
  
  {%- for page in collections.all %}
    {%- set skip = false %}
    {%- set url = page.url %}
    
    {%- if not url %}
      {%- set skip = true %}
    {%- endif %}
    
    {%- if url and "/admin" in url %}
      {%- set skip = true %}
    {%- endif %}
    
    {%- if url == "/" or url == "/for-coffee-shops/" or url == "/pricing/" or url == "/about/" or url == "/rewards/" or url == "/gift-cards/" or url == "/point-of-sale-for-coffee-shops/" or url == "/blog/" or url == "/testimonials/" or url == "/locations/" or url == "/terms/" or url == "/merchant-terms/" %}
      {%- set skip = true %}
    {%- endif %}
    
    {%- if page.data.draft %}
      {%- set skip = true %}
    {%- endif %}
    
    {%- if not skip %}
  <url>
    <loc>https://joe.coffee{{ url }}</loc>
    {%- if "/blog/" in url %}
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
    {%- elif "/testimonials/" in url %}
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
    {%- elif "/locations/" in url %}
    <changefreq>weekly</changefreq>
    <priority>0.5</priority>
    {%- else %}
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
    {%- endif %}
  </url>
    {%- endif %}
  {%- endfor %}

</urlset>
